# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# Backend
backend/uploads/*
!backend/uploads/.gitkeep
backend/results/*
!backend/results/.gitkeep
backend/database.db
backend/*.log

# Simulation
backend/simulation/data_repository/*.nc
backend/simulation/data_repository/*.grib
backend/simulation/data_repository/*.grib2
backend/simulation/temp_runtime/
backend/simulation/simulation_output/
backend/static/simulations/*.nc
backend/static/simulations/*.gif
backend/static/simulations/*.png
!backend/static/simulations/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store
